body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.dev-name span{
    color: orange;
}


.hero-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 3%;
}

.half-width img{
    width: 85%;
}

.link-btn{
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    border-radius: 6px;
    margin-top: 50px;
}

.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-flex{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.exp-flex h3{
    color: orange;
}

.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    border-left: 8px solid orange;
}

.experience-item:nth-child(2){
    border-left: 8px solid;
    border-image: linear-gradient(#0063FF, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    color: gray;
}
